<div<?=$div_attributes?>><?php
if (isset($f_options)) { ?>
<div class="filter">
    <div>
        <select onchange="table.Filter(this)">
            <option value="all">Filter by...</option>
            <?= implode('', $f_options)?>
        </select><input type="text" onkeyup="table.Filter(this)"
                    data-table-id="<?=$items?>-table" 
                    placeholder="Type filter..." value="<?=$f_value?>">
    </div>
</div><?php
} ?>
<table<?=$table_attributes?>>
    <thead>
        <tr><?=$ths?></tr>
    </thead>
    <tbody>
        <?=$body?>
    </tbody>
    <tfoot>
        <?=$footer?>
    </tfoot>
</table><script>window.addEventListener('load', function(){table.init("<?=$items?>-table");});</script>
</div>
