/* Table container */
div.table {position:relative; text-align:center; height:auto; max-width:100%; overflow:auto; overflow-y: hidden; margin:0px; padding-bottom:5px;}

/* Table filter */
.filter     {text-align:right; min-width:700px;}
.filter div {display:inline-block; position:relative; right:0px; margin:5px 0px; line-height:30px;}
.filter div input[type=text] {height:30px; line-height:30px; width:240px; padding:0px 5px; border:1px solid #e8e8e8; vertical-align:top; font-size:14px; margin-right:0px;}
.filter div select {border:1px solid #e8e8e8; height:30px; line-height:30px; width:auto; vertical-align:top; border-right:0px; color:#aaa; font-size:14px; margin-right:0px;}
.filter div select option {color:black;}
.filter div select:focus, .filter div input:focus {border-color:#888;}

table {position:relative; margin: 0px auto; width:100%; border-collapse: collapse; text-align:center; border:0px; background-color: transparent; min-width:700px; /*table-layout:fixed;*/;}
.table tr th, .table tr td {text-align:left; background-color:inherit; vertical-align:middle;}
table tr th.c, table tr td.c {text-align:center;}
table tr th.l, table tr td.l {text-align:left;}
table tr th.r, table tr td.r {text-align:right;}

/* Table rows */
/*table tbody tr:nth-child(odd) { background-color: rgba(128,128,128,.06);}
table tr:hover td {background-color: rgba(128,128,128,.2);}*/
table.table-bordered {border:0px;}
table tr th[lang=col-hover], table tr td[lang=col-hover] {background-color: rgba(128,128,128,.12);}

/* Table header */
table tr {line-height:30px;}
table thead tr {line-height:34px;}
table thead tr th {font-weight:500;}
table thead tr th.links {width:65px;}
table thead tr th.link {width:39px;}
table thead tr th a {display:block; cursor:pointer; text-decoration:none;}
table thead tr th a span {position:relative; color:inherit; margin-right:2px; top:-1px; font-size:.75em; opacity:.6;}
table thead tr th a:hover span {opacity:1;}

.table tr td, .table tr th {padding:0px 0.5rem;}
.table tbody tr td:last-child, .table tbody tr th:last-child {padding:0px;}
.table tbody tr td:last-child a:first-child {margin-right:4px}
.table tfoot tr td {padding:0px; border:none;}
table tr td a {text-decoration: none;}
table tr td a:hover {text-decoration: underline; color:#000;}

/* Table icons */
table tr td a.tbl-ico {display:inline-block; font-size: 17px; min-width:30px; max-width:100%; text-align:center; height:100%; background-repeat:no-repeat; text-decoration:none; opacity:0.6;}
table tr td a.tbl-ico span.material-icons {font-size:24px; vertical-align:middle;}
table tr td a.tbl-ico:hover {opacity:1;}
table tr td a.tbl-ico:hover span.fa-folder-o::before {content:"\f115";}

table tr td a[target="_blank"]:not(.tbl-ico)::before {content:"\f08e"; font: normal normal normal 14px/1 FontAwesome; margin-right:5px;}

table tbody>tr:only-child>td:only-child.no-results {text-align:center!important; font-size:.875em; font-weight:300; color:#999;}

/* Table footer */
table tfoot tr td {font-size:.875em; padding:0px; border:0px;}
table tfoot tr:hover td {background-color: inherit;}
table tfoot tr td .footer {text-align:left; line-height:30px; margin-top:5px; margin-right:-1px; box-sizing:border-box;}
table tfoot tr td .footer .data {display:inline-block; width:35%; color:rgba(0,0,0,.5); vertical-align:top; text-align:left;}
table tfoot tr td .footer .data a.exp {display:inline-block; color:rgba(0,0,0,.5); border:1px solid #e8e8e8; margin-right:5px; padding:0px 5px; text-align:center; text-decoration:none; background-color: rgba(128,128,128,.12);}
table tfoot tr td .footer .data a.exp:hover {color:#000}
table tfoot tr td .footer .paging {display:inline-block; width:65%; color:rgba(0,0,0,.5); text-align:right;}
table tfoot tr td .footer .paging ul {display:block; text-align:right; margin:0px; padding:0px; max-height:32px;}
table tfoot tr td .footer .paging ul li {display:inline-block; min-width:30px; border:1px solid #e8e8e8; margin-left:5px; text-align:center; cursor:default; overflow:hidden; margin-bottom:0px;}
table tfoot tr td .footer .paging ul li.jump a {font-size:.75em;}
table tfoot tr td .footer .paging ul li.a {color:black; background-color: rgba(255,255,255,.5); padding:0px 2px;}
table tfoot tr td .footer .paging ul li[data-page] a {transform: scale(2,2)}
table tfoot tr td .footer .paging ul li a {text-decoration:none; display:block; text-align:center; color:inherit; background-color: rgba(128,128,128,.12); padding:0px 2px;}
table tfoot tr td .footer .paging ul li a:hover {background:#fff; color:#000;}
table tfoot tr td .tbl-err {text-align:left; color:#d00; font-size:.825em; line-height: 1.325em; padding:3px 5px; border:2px solid #dee2e6; border-top:0px; margin-right:-1px;}